h1{
    margin-top: 0em;
}
#title{
    text-align: center;
}
#main{
    margin:auto;
    display: block;
    background-color: lightgrey;
    padding: 30px;
    max-width: 40%;
    max-height: 60%;
}

#description{
    margin-top: -1em;
    text-align: center;
}

input,select{
    margin-bottom: 7px;
    margin-top: 7px;
}

button{
    margin: auto;
    display: block;
}